[submodule "longfellow/vendor/longfellow-zk"]
	path = longfellow/vendor/longfellow-zk
	url = https://github.com/google/longfellow-zk.git
	branch = main

[submodule "longfellow/vendor/longfellow-zk-dyne"]
	path = longfellow/vendor/longfellow-zk-dyne
	url = https://github.com/dyne/longfellow-zk.git
        branch = main